In [ ]:
!curl ifconfig.me

104.199.230.178

In [3]:
!pip install pymongo

Collecting pymongo
  Downloading pymongo-4.10.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (22 kB)
Collecting dnspython<3.0.0,>=1.16.0 (from pymongo)
  Downloading dnspython-2.7.0-py3-none-any.whl.metadata (5.8 kB)
Downloading pymongo-4.10.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.4 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.4/1.4 MB 45.1 MB/s eta 0:00:00
Downloading dnspython-2.7.0-py3-none-any.whl (313 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 313.6/313.6 kB 19.4 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.7.0 pymongo-4.10.1

In [ ]:
from pymongo import MongoClient

# Inisialisasi client dan koneksi ke database
client = MongoClient('mongodb+srv://musaokta:2340506060@cluster0.b78ni.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0')
db = client['company_db']
collection = db['employees']

# Contoh untuk memastikan koneksi
print('Connected to MongoDB')

Connected to MongoDB

In [4]:
from pymongo import MongoClient, InsertOne, UpdateOne, DeleteOne

# Establish client connection
client = MongoClient('mongodb+srv://musaokta:2340506060@cluster0.b78ni.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0/')
db = client['university_db']
courses_collection = db['courses']

# Bulk insert of courses with student enrollments
operations = [
    InsertOne({'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics'}),
    InsertOne({'course': 'CS 102', 'enrollments': 25, 'department': 'Computer Science'}),
    InsertOne({'course': 'History 201', 'enrollments': 20, 'department': 'History'}),
    InsertOne({'course': 'Physics 202', 'enrollments': 15, 'department': 'Physics'})
]
courses_collection.bulk_write(operations)
print('Courses inserted successfully.')

Courses inserted successfully.

In [5]:
for course in courses_collection.find({'enrollments': {'$gt': 20}}):
    print(course)

{'_id': ObjectId('675e9c11ce8c589ab24d4d80'), 'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics'}
{'_id': ObjectId('675e9c11ce8c589ab24d4d81'), 'course': 'CS 102', 'enrollments': 25, 'department': 'Computer Science'}

In [6]:
for course in courses_collection.find({'department': {'$in': ['Computer Science', 'Mathematics']}}):
    print(course)

{'_id': ObjectId('675e9c11ce8c589ab24d4d80'), 'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics'}
{'_id': ObjectId('675e9c11ce8c589ab24d4d81'), 'course': 'CS 102', 'enrollments': 25, 'department': 'Computer Science'}

In [7]:
# Average enrollment per department using aggregation
pipeline = [
    {'$group': {'_id': '$department', 'average_enrollment': {'$avg': '$enrollments'}}}
]
for result in courses_collection.aggregate(pipeline):
    print(result)

{'_id': 'Mathematics', 'average_enrollment': 30.0}
{'_id': 'History', 'average_enrollment': 20.0}
{'_id': 'Physics', 'average_enrollment': 15.0}
{'_id': 'Computer Science', 'average_enrollment': 25.0}

In [8]:
# Maximum enrollment per department
pipeline = [
    {'$group': {'_id': '$department', 'max_enrollment': {'$max': '$enrollments'}}}
]
for result in courses_collection.aggregate(pipeline):
    print(result)

{'_id': 'Computer Science', 'max_enrollment': 25}
{'_id': 'Mathematics', 'max_enrollment': 30}
{'_id': 'Physics', 'max_enrollment': 15}
{'_id': 'History', 'max_enrollment': 20}

In [9]:
# Projection to rename fields
pipeline = [
    {'$project': {'course_name': '$course', 'department_name': '$department', 'enrollments': 1}}
]
for result in courses_collection.aggregate(pipeline):
    print(result)

{'_id': ObjectId('675e9c11ce8c589ab24d4d80'), 'enrollments': 30, 'course_name': 'Math 101', 'department_name': 'Mathematics'}
{'_id': ObjectId('675e9c11ce8c589ab24d4d81'), 'enrollments': 25, 'course_name': 'CS 102', 'department_name': 'Computer Science'}
{'_id': ObjectId('675e9c11ce8c589ab24d4d82'), 'enrollments': 20, 'course_name': 'History 201', 'department_name': 'History'}
{'_id': ObjectId('675e9c11ce8c589ab24d4d83'), 'enrollments': 15, 'course_name': 'Physics 202', 'department_name': 'Physics'}

In [10]:
# Adding enrollment category field based on enrollments
pipeline = [
    {'$addFields': {'enrollment_category': {'$cond': {'if': {'$gt': ['$enrollments', 20]}, 'then': 'high', 'else': 'low'}}}}
]
for result in courses_collection.aggregate(pipeline):
    print(result)

{'_id': ObjectId('675e9c11ce8c589ab24d4d80'), 'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics', 'enrollment_category': 'high'}
{'_id': ObjectId('675e9c11ce8c589ab24d4d81'), 'course': 'CS 102', 'enrollments': 25, 'department': 'Computer Science', 'enrollment_category': 'high'}
{'_id': ObjectId('675e9c11ce8c589ab24d4d82'), 'course': 'History 201', 'enrollments': 20, 'department': 'History', 'enrollment_category': 'low'}
{'_id': ObjectId('675e9c11ce8c589ab24d4d83'), 'course': 'Physics 202', 'enrollments': 15, 'department': 'Physics', 'enrollment_category': 'low'}

In [13]:
pipeline = [
    {'$group': {'_id': '$department', 'course_count': {'$sum': 1}}}
]

for result in courses_collection.aggregate(pipeline):
    print(result) # Indented this line by 4 spaces

{'_id': 'Mathematics', 'course_count': 1}
{'_id': 'Computer Science', 'course_count': 1}
{'_id': 'History', 'course_count': 1}
{'_id': 'Physics', 'course_count': 1}

In [14]:
courses = [
{'course': 'CS 103', 'enrollments': 30, 'department': 'Computer Science'},
{'course': 'CS 104', 'enrollments': 35, 'department': 'Computer Science'},
{'course': 'CS 105', 'enrollments': 40, 'department': 'Computer Science'}
]

result = courses_collection.insert_many(courses)
print('Courses inserted successfully')

Courses inserted successfully

In [16]:
client = MongoClient('mongodb+srv://musaokta:2340506060@cluster0.b78ni.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0/')
db = client['university_db']
courses_collection = db['courses']

# Get the 'students' collection and assign it to students_collection
students_collection = db['students']  # This line is added

students_data = [
    {"name": "Musa", "enrolled_courses": ["Math 103", "CS 205", "Physics 100"]},
    {"name": "Mawan", "enrolled_courses": ["History 202", "Math 101", "CS 105"]},
    {"name": "Tika", "enrolled_courses": ["Math 101", "CS 102"]},
    {"name": "Ped", "enrolled_courses": ["Math 101", "CS 102", "CS 105"]},
    {"name": "Lita", "enrolled_courses": ["Physics 202", "Math 101", "CS 104"]},
    {"name": "Risa", "enrolled_courses": ["CS 102", "History 201", "CS 104"]},
    {"name": "Dani", "enrolled_courses": ["Math 101", "Physics 202", "CS 103"]},
    {"name": "Nimas", "enrolled_courses": ["History 201", "CS 102", "CS 105"]},
    {"name": "Adam", "enrolled_courses": ["Physics 202", "CS 102"]},
    {"name": "Zulfikar", "enrolled_courses": ["History 201", "Math 101", "CS 103"]},
    {"name": "Riko", "enrolled_courses": ["CS 102", "Physics 202", "CS 105"]},
    {"name": "Danis", "enrolled_courses": ["Math 101", "History 201"]}
]

# Menyisipkan data siswa ke dalam koleksi
students_collection.insert_many(students_data)
print('Data siswa berhasil dimasukkan.')

Data siswa berhasil dimasukkan.

In [17]:
pipeline = [
    {'$lookup': {'from': 'students', 'localField': 'course', 'foreignField': 'enrolled_courses', 'as': 'enrolled_students'}},
    {'$project': {'course': 1, 'department': 1, 'enrollments': 1, 'enrolled_students': {'$map': {'input': '$enrolled_students', 'as': 'student', 'in': '$$student.name'}}}}
]

for result in courses_collection.aggregate(pipeline):
    print(result)

{'_id': ObjectId('675e9c11ce8c589ab24d4d80'), 'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics', 'enrolled_students': ['Mawan', 'Tika', 'Ped', 'Lita', 'Dani', 'Zulfikar', 'Danis']}
{'_id': ObjectId('675e9c11ce8c589ab24d4d81'), 'course': 'CS 102', 'enrollments': 25, 'department': 'Computer Science', 'enrolled_students': ['Tika', 'Ped', 'Risa', 'Nimas', 'Adam', 'Riko']}
{'_id': ObjectId('675e9c11ce8c589ab24d4d82'), 'course': 'History 201', 'enrollments': 20, 'department': 'History', 'enrolled_students': ['Risa', 'Nimas', 'Zulfikar', 'Danis']}
{'_id': ObjectId('675e9c11ce8c589ab24d4d83'), 'course': 'Physics 202', 'enrollments': 15, 'department': 'Physics', 'enrolled_students': ['Lita', 'Dani', 'Adam', 'Riko']}
{'_id': ObjectId('675e9e9ece8c589ab24d4d85'), 'course': 'CS 103', 'enrollments': 30, 'department': 'Computer Science', 'enrolled_students': ['Dani', 'Zulfikar']}
{'_id': ObjectId('675e9e9ece8c589ab24d4d86'), 'course': 'CS 104', 'enrollments': 35, 'department': 'Computer Science', 'enrolled_students': ['Lita', 'Risa']}
{'_id': ObjectId('675e9e9ece8c589ab24d4d87'), 'course': 'CS 105', 'enrollments': 40, 'department': 'Computer Science', 'enrolled_students': ['Mawan', 'Ped', 'Nimas', 'Riko']}