In [27]:
!curl ifconfig.me

104.199.230.178

In [4]:
!pip install pymongo

Collecting pymongo
  Downloading pymongo-4.10.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (22 kB)
Collecting dnspython<3.0.0,>=1.16.0 (from pymongo)
  Downloading dnspython-2.7.0-py3-none-any.whl.metadata (5.8 kB)
Downloading pymongo-4.10.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.4 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.4/1.4 MB 18.3 MB/s eta 0:00:00
Downloading dnspython-2.7.0-py3-none-any.whl (313 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 313.6/313.6 kB 18.8 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.7.0 pymongo-4.10.1

In [5]:
from pymongo import MongoClient

# Inisialisasi client dan koneksi ke database
client = MongoClient('mongodb+srv://musaokta:2340506060@cluster0.b78ni.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0')
db = client['company_db']
collection = db['employees']

# Contoh untuk memastikan koneksi
print('Connected to MongoDB')

Connected to MongoDB

In [6]:
# CInsert Data
employee_data = {
    'name': 'Alice',
    'department': 'Finance',
    'age': 29,
    'salary': 4500
}
collection.insert_one(employee_data)
print('Data inserted')

Data inserted

In [8]:
from pymongo import MongoClient

# Membuat koneksi ke MongoDB
client = MongoClient('mongodb+srv://musaokta:2340506060@cluster0.b78ni.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0')
db = client['company_database']
collection = db['employees']

# Data karyawan
employee_data = [
    {'name': 'Alice', 'department': 'Finance', 'age': 29, 'salary': 4500},
    {'name': 'Bob', 'department': 'Marketing', 'age': 34, 'salary': 5000},
    {'name': 'Charlie', 'department': 'IT', 'age': 28, 'salary': 5500},
    {'name': 'Musa', 'department': 'HR', 'age': 40, 'salary': 4800}
]

# Insert data ke koleksi 'employees'
collection.insert_many(employee_data)
print('Data inserted')

Data inserted

In [9]:
# Update gaji Bob
collection.update_one(
    {'name': 'Bob'},  # Kriteria pencarian (name = 'Bob')
    {'$set': {'salary': 5200}}  # Set nilai baru untuk salary
)
print('Data updated')

Data updated

In [10]:
# Menghapus data karyawan yang berusia lebih dari 35 tahun
collection.delete_one({'name': 'Musa'})
print('Data deleted')

Data deleted

In [11]:
for employee in collection.find():
    print(employee)

{'_id': ObjectId('675e6e50ebb15f1499028000'), 'name': 'Alice', 'department': 'Finance', 'age': 29, 'salary': 4500}
{'_id': ObjectId('675e6e50ebb15f1499028001'), 'name': 'Bob', 'department': 'Marketing', 'age': 34, 'salary': 5200}
{'_id': ObjectId('675e6e50ebb15f1499028002'), 'name': 'Charlie', 'department': 'IT', 'age': 28, 'salary': 5500}
{'_id': ObjectId('675e6e50ebb15f1499028003'), 'name': 'David', 'department': 'HR', 'age': 40, 'salary': 4800}
{'_id': ObjectId('675e6e6bebb15f1499028005'), 'name': 'Alice', 'department': 'Finance', 'age': 29, 'salary': 4500}
{'_id': ObjectId('675e6e6bebb15f1499028006'), 'name': 'Bob', 'department': 'Marketing', 'age': 34, 'salary': 5000}
{'_id': ObjectId('675e6e6bebb15f1499028007'), 'name': 'Charlie', 'department': 'IT', 'age': 28, 'salary': 5500}

In [36]:
from pymongo import MongoClient

# Koneksi ke MongoDB
client = MongoClient('mongodb+srv://musaokta:2340506060@cluster0.b78ni.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0')
db = client['zzz']  # Ganti dengan nama database Anda

# Data produk
products_data = [
    {'nama': 'Laptop', 'category': 'Electronics', 'price': 900, 'stock': 50},
    {'nama': 'Smartphone', 'category': 'Electronics', 'price': 800, 'stock': 100},
    {'nama': 'Keyboard', 'category': 'Accessories', 'price': 100, 'stock': 200},
    {'nama': 'Mouse', 'category': 'Accessories', 'price': 100, 'stock': 150},
    {'nama': 'Washing Machine', 'category': 'Home Appliances', 'price': 400, 'stock': 20},
    {'nama': 'Refrigerator', 'category': 'Home Appliances', 'price': 900, 'stock': 30},
    {'nama': 'Headphones', 'category': 'Electronics', 'price': 150, 'stock': 80},
    {'nama': 'Smartwatch', 'category': 'Electronics', 'price': 250, 'stock': 60},
    {'nama': 'Blender', 'category': 'Home Appliances', 'price': 100, 'stock': 70},
    {'nama': 'Microwave', 'category': 'Home Appliances', 'price': 120, 'stock': 90}
]

# Masukkan data produk ke dalam koleksi 'products'
collection = db['products']
collection.insert_many(products_data)
print("Data produk berhasil dimasukkan.")

Data produk berhasil dimasukkan.

In [37]:
# Menghitung rata-rata harga produk
avg_price = collection.aggregate([
    { "$group": { "_id": None, "averagePrice": { "$avg": "$price" } } }
]).next()["averagePrice"]

# Query untuk menemukan produk dengan harga di atas rata-rata
result = collection.find({ "price": { "$gt": avg_price } })

# Menampilkan hasilnya
for product in result:
    print(product)

{'_id': ObjectId('675e7431ebb15f1499028029'), 'nama': 'Laptop', 'category': 'Electronics', 'price': 900, 'stock': 50}
{'_id': ObjectId('675e7431ebb15f149902802a'), 'nama': 'Smartphone', 'category': 'Electronics', 'price': 800, 'stock': 100}
{'_id': ObjectId('675e7431ebb15f149902802d'), 'nama': 'Washing Machine', 'category': 'Home Appliances', 'price': 400, 'stock': 20}
{'_id': ObjectId('675e7431ebb15f149902802e'), 'nama': 'Refrigerator', 'category': 'Home Appliances', 'price': 900, 'stock': 30}

In [38]:
pipeline = [
    {
        "$group": {
            "_id": "$category",  # Kelompokkan berdasarkan kategori
            "totalProducts": { "$sum": "$stock" }  # Hitung total produk dalam kategori
        }
    }
]

# Menjalankan pipeline agregasi
result = collection.aggregate(pipeline)

# Menampilkan hasilnya
for item in result:
    print(item)

{'_id': 'Electronics', 'totalProducts': 290}
{'_id': 'Accessories', 'totalProducts': 350}
{'_id': 'Home Appliances', 'totalProducts': 210}

In [39]:
pipeline = [
    { "$sort": { "gaji": -1 } },  # Mengurutkan berdasarkan gaji tertinggi
    {
        "$group": {
            "_id": "$departemen",  # Kelompokkan berdasarkan departemen
            "karyawan": {
                "$push": { "nama": "$nama", "gaji": "$gaji" }
            }
        }
    },
    {
        "$project": {
            "departemen": "$_id",
            "karyawan": { "$slice": ["$karyawan", 5] }  # Mengambil 5 karyawan pertama dengan gaji tertinggi
        }
    }
]

# Menjalankan pipeline agregasi
result = db.karyawan.aggregate(pipeline)

# Menampilkan hasilnya
for item in result:
    print(item)

In [40]:
# Menghapus karyawan dengan umur di bawah 25 tahun
db.karyawan.delete_many({ "umur": { "$lt": 25 } })
print("Karyawan dengan umur di bawah 25 tahun telah dihapus.")

Karyawan dengan umur di bawah 25 tahun telah dihapus.

In [42]:
pipeline = [
    {
        "$group": {
            "_id": "$departemen",  # Kelompokkan berdasarkan departemen
            "totalGaji": { "$sum": "$gaji" },  # Hitung total gaji
            "rataRataUmur": { "$avg": "$umur" }  # Hitung rata-rata umur
        }
    },
    {
        "$project": {
            "departemen": "$_id",
            "totalGaji": 1,
            "rataRataUmur": 1
        }
    }
]

# Menjalankan pipeline agregasi
result = db.karyawan.aggregate(pipeline)

# Menampilkan hasilnya
for item in result:
    print(item)